extends page

block page-content
  .page-header
    h1 
      | What is Time to Eat? 
      small by Katie
  h2 Who made it?
  p
    :markdown
      This application was made by [JeniT](http://theodi.org/team/jeni-tennison) and her 10 year old daughter Katie (the author).
  h2 What it does
  p
    :markdown
      Time to eat reminds you of all those lost tins hiding at the back of our cupboards. Remember that tin of beans? Or the jars of pickled onions? With Time to eat that information will be stored in a list made for you. 
  h2 How to use it
  h3 How to put new food in
  p
    :markdown
      Simply make a list and enter your food and eat by date and get going! 
  h3 How to look at your list
  p
    :markdown
      Underneath where you can put new food in there is a long list of food. 
  p   Look at the list of food you have already put in and, depending on whether you have tasted it or wasted it, click on the buttons.

  h2 Why we made it
  p  We wanted to lessen the amount of food that people in the UK waste. By buying food that you then throw away, you are wasting money and food that could be given to those who need it. 
  p  By knowing what is in your cupboards and when you need to eat it, you can make sure food is eaten before it needs to be thrown away.

