extends layout

block content
  .jumbotron
    .row
      .col-md-6
        h1 Time to Eat
        p Taste it don't waste it!
      .col-md-6
        p
          | If you're one of those people who loses track of what is in your cupboard and when it needs eating, then 
          span.brand Time to Eat
          |  is for you!
          a.pull-right.btn.btn-default(href='/about') read more
        form.form-inline.row(role='form', action='/', method='post')
          .form-group.col-xs-9
            label.sr-only(for='lstitle') list name
            input#lstitle.form-control(name='lstitle', placeholder='The name of your list')
          .form-group.col-xs-3
            button.btn.btn-primary(type=submit) make your list
