doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .container
      block content
    script(src="https://code.jquery.com/jquery.js").
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js").
