/*
 * main    dark    darkest light   lightest
 * Primary Color (green):
 * 87EA00  63813A  335800  C3FD73  EAFDCF
 * Secondary Color A (red):
 * FF3900  8D513F  601500  FF9374  FFDBD1
 * Secondary Color B (purple):
 * 7908AA  4F2C5E  2D0040  D177F7  EBCDF7
 */

green = #87EA00
darkGreen = #63813A
darkestGreen = #335800
lightGreen = #C3FD73
lightestGreen = #EAFDCF
red = #FF3900
darkRed = #8D513F
darkestRed = #601500
lightRed = #FF9374
lightestRed = #FFDBD1
purple = #7908AA
darkPurple = #4F2C5E
darkestPurple = #2D0040
lightPurple = #D177F7
lightestPurple = #EBCDF7

@font-face
  font-family "Silent Hill"
  font-style normal
  src url(/fonts/silent_hill/SLNTHLN.ttf)

@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,400,400italic,700,700italic)

body
  padding: 50px
  font-family: "Roboto", Helvetica, Arial, sans-serif
  font-weight: 100
  font-size: 18px

a
  color: #00B7FF

.navbar-brand, h1, h2, h3
  font-family: "Silent Hill"
